---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "Home Page 👋"
import "../styles/global.css"
---

<!-- Using the BaseLayout component for parmanent components displayed  in the App-->
<BaseLayout pageTitle={pageTitle}>
	<h2>My awesome blog subtitle</h2>
</BaseLayout>

<style></style>
