---
import BaseLayout from "../layouts/BaseLayout.astro"
import Greeting from "../components/Greetings"
import Text from "../components/Ui/Text.astro"

const pageTitle = "Deejay's Blog 👋"
---

<!-- Using the BaseLayout component for parmanent components displayed  in the App-->
<BaseLayout pageTitle={pageTitle}>
	<div class="text-center my-2">
		<Text content="I write article about Tech in Pidgin & English" />
		<!-- <Greeting
			client:load
			messages={[
				"Howfa",
				"Howfa nah",
				"Hi",
				"Hello",
				"Howdy",
				"Hey there",
				"How your side",
				"How body"
			]}
		/> -->
	</div>
</BaseLayout>
