---
import TagBadge from "./TagBadge.astro"

const { url, title, cover, tags, pubDate } = Astro.props
---

<li
	class="pb-6 shadow-lg rounded-xl hover:shadow-2xl hover:-translate-y-2 duration-300"
>
	<img src={cover} alt="" class="mb-5 w-full object-cover rounded-xl" />
	<div class="px-5">
		<a class="hover:text-emerald-500 text-lg font-bold" href={url}>{title}</a>
		<div class="flex my-3 justify-between">
			<TagBadge tags={tags} />
			<p class="font-bold">{pubDate.slice(0, 10)}</p>
		</div>
	</div>
</li>
