---
import Hamburger from "./Hamburger.astro"
import Navigation from "./Navigation.astro"
import ThemeIcon from "./ThemeIcon.astro"
---

<header class="mt-8 mb-20 xl:px-64 flex justify-between items-center">
	<a class="" href="/">
		<img
			src="/logo.svg"
			alt="Logo for deejaydev's blog"
			class="w-16 h-16 rounded-full"
		/>
	</a>
	<nav>
		<Hamburger />
		<Navigation />
	</nav>
	<ThemeIcon />
</header>
