---
import Hamburger from "./Hamburger.astro"
import Navigation from "./Navigation.astro"
import ThemeIcon from "./ThemeIcon.astro"
---

<header>
	<div class="logo">
		<img src="https://avatars.githubusercontent.com/u/25222958?v=4" alt="" />
	</div>
	<nav>
		<Hamburger />
		<Navigation />
	</nav>
	<ThemeIcon />
</header>

<style>
	.logo img {
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}
</style>
