---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Heading from "../components/Ui/Heading.astro"
import "../styles/global.css"

const { pageTitle } = Astro.props

export const owner = "Danjuma (DeejayDev) Ashiwaju"

// Values for css props
let skillColor = "teal"
let fontWeight = 800
let textCase = "uppercase"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class="px-5 md:px-16 2xl:px-28">
		<Header />

		<!-- Always shows the page title -->
		<Heading content={pageTitle} moClass="text-center font-bold capitalize" />

		<slot />

		<Footer />
		<script>
			import "../scripts/menu.js"
		</script>
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"
		></script>
	</body>
</html>

<!-- Using css variable to apply styles -->
<style define:vars={{ skillColor, fontWeight, textCase }}>
	.skill {
		color: var(--skillColor);
		font-weight: var(--fontWeight);
		text-transform: var(--textCase);
	}
</style>
